/* Your card CSS file */
.card{
  margin-bottom: 40px;
  box-shadow: 0 0 10px #C0C0C0;
}

.card-category {
  display: flex;
  height: 200px;
  justify-content: space-around;
  align-items: center;
  color: white;
  text-shadow: 0 0 10px #C0C0C0;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
}

.card-product{
  display: flex;
  height: 120px;
}

.patrick-img{
  display: inline-block;
  width: 120px;
}

.mood{
  text-align: left;
  margin-left: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 36px;
}

.mood h3, p{
  margin: 2;
}

.card-trip{

  height: 310px;


}

.trip-img{
  background-size: cover;
  background-position: center;
  height: 240px;
  /* width: 100%; */
}
.trip-info{
  text-align: justify;
  padding: 5px 20px;
}

.trip-info h3, p{
  margin: 4px;
}

.trip-title{
  display: inline-block;
}
.trip-price{
  display: inline-block;
  float: right;
  text-align: right;
  position: relative;
}

.wowface{
  background-size: 140%;
  background-position: center;
  /* border: 2px solid red; */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -30px;
  right: 12px;
  box-shadow: 0 0 10px rgb(80, 80, 80);
}